.conversation-item {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s ease;
  border-bottom: 1px solid #eee;
  /* background-color: white; */
}

.conversation-item:hover {
  /* background-color: #f5f7fa; */
  /* color: black; */
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3b82f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.info {
  flex: 1;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 16px;
  font-weight: bold;
}

.message {
  color: gray;
  margin-top: 4px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge {
  background-color: #25D366;
  color: white;
  border-radius: 15px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}
